$theme-font: 100% verdana,
sans-serif;

body {
  font: $theme-font;
  background: #7dc9c0;
  background-image: url('../../../static/images/main_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow-x: hidden;

  h1,
  h2 {
    color: $themeColor-Dark;
  }
}

.input-padding {
  padding: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  .button {
    height: 40px;
    margin-top: 20px;
  }
}