/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-Black.eot');
  src: url('/static/fonts/Circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-Black.woff') format('woff'), url('/static/fonts/Circular/CircularStd-Black.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-BlackItalic.eot');
  src: url('/static/fonts/Circular/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-BlackItalic.woff') format('woff'), url('/static/fonts/Circular/CircularStd-BlackItalic.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-Bold.eot');
  src: url('/static/fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-Bold.woff') format('woff'), url('/static/fonts/Circular/CircularStd-Bold.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-BoldItalic.eot');
  src: url('/static/fonts/Circular/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-BoldItalic.woff') format('woff'), url('/static/fonts/Circular/CircularStd-BoldItalic.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-Medium.eot');
  src: url('/static/fonts/Circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-Medium.woff') format('woff'), url('/static/fonts/Circular/CircularStd-Medium.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-MediumItalic.eot');
  src: url('/static/fonts/Circular/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-MediumItalic.woff') format('woff'), url('/static/fonts/Circular/CircularStd-MediumItalic.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-Book.eot');
  src: url('/static/fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-Book.woff') format('woff'), url('/static/fonts/Circular/CircularStd-Book.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('/static/fonts/Circular/CircularStd-BookItalic.eot');
  src: url('/static/fonts/Circular/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Circular/CircularStd-BookItalic.woff') format('woff'), url('/static/fonts/Circular/CircularStd-BookItalic.ttf') format('truetype'), url('/static/fonts/Circular/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Tungsten Bold";
  src: url('/static/fonts/Tungsten/Tungsten-Book.eot');
  src: url('/static/fonts/Tungsten/Tungsten-Book?#iefix') format('embedded-opentype'), url('/static/fonts/Tungsten/Tungsten-Bold.ttf') format('truetype'), url('/static/fonts/Tungsten/Tungsten-Bold.svg') format('svg');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: "Tungsten Book";
  src: url('/static/fonts/Tungsten/Tungsten-Book.eot');
  src: url('/static/fonts/Tungsten/Tungsten-Book?#iefix') format('embedded-opentype'), url('/static/fonts/Tungsten/Tungsten-Book.woff') format('woff'), url('/static/fonts/Tungsten/Tungsten-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tungsten Light";
  src: url('/static/fonts/Tungsten/Tungsten-Light.eot');
  src: url('/static/fonts/Tungsten/Tungsten-Light?#iefix') format('embedded-opentype'), url('/static/fonts/Tungsten/Tungsten-Light.woff') format('woff'), url('/static/fonts/Tungsten/Tungsten-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tungsten Medium";
  src: url('/static/fonts/Tungsten/Tungsten-Medium.eot');
  src: url('/static/fonts/Tungsten/Tungsten-Medium?#iefix') format('embedded-opentype'), url('/static/fonts/Tungsten/Tungsten-Medium.woff') format('woff'), url('/static/fonts/Tungsten/Tungsten-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
