.LogBookCard {
  position: relative;
  font-family: "Roboto";
  overflow: hidden;

  .title {
    font-family: "Tungsten Book";
    margin: 0;
    font-size: 2em;
    color: $lightBlue;
  }

  &>div {
    margin: 0;
    width: 100%;
  }

  header {
    height: 400px;
  }

  img {
    width: auto;
    max-width: none;
    height: 100%;
  }
}

.LogBookCard__container__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.LogBookCard__goButtonContainer {
  width: auto;
  flex: 1;
}

.LogBookCard__info {
  padding: 1.5em;
  background-color: #fff;

  p {
    max-height: 70px;
    margin: 0;
    overflow: hidden;
  }
}

.LogBookCard-interaction {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightBlue;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .LogBookCard {
    header {
      height: 300px;
    }
  }
}
