.CardInfo {
  position: relative;
  max-width: 500px;
  font-family: "Roboto";
  cursor: pointer;
  overflow: hidden;
  height: 340px;
  display: flex;

  &>div {
    width: auto;
  }

  button {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }


  &:hover {
    .CardInfo__thumb {
      margin-top: -10%;
    }

    .CardInfo__container__bottom {
      top: -10%;
    }

    button {
      opacity: 1;
      pointer-events: all;
    }
  }

  .CardInfo__thumb {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .CardInfo__container__bottom {
    position: relative;
    top: 0;
    background-color: #fff;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  h2,
  h3,
  h4,
  h5,
  .CardInfo__title {
    font-family: "Tungsten Book";
    margin: 0;
    font-size: 2em;
    color: $lightBlue;
  }

  .CardInfo__description {
    padding: 2em;
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .CardInfo {
    max-height: 400px;
  }
}