.VideoInfo {
	.VideoInfoDate {
		color: #6f6f6f;
		
		.fas {
			margin-right: 10px;
		}
	}

	h3 {
		color: #6f6f6f;
	}

	.boxDay {
		padding: 10px;
		border-radius: 5px;
		background-color: #ccc;
	}
}