.main-header {
  color: $themeColor-Light;
}

#main-header-logo-description {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 150px;
}

#main-header-images-block {
  position: relative;
  min-height: 50px;

  img {
    position: absolute;
  }
}

#main-header-image-1 {
  top: -157px;
  right: 0;
}

#main-header-image-2 {
  top: 50px;
  left: 100px;
  z-index: 10;
}

#main-header-image-3 {
  top: -120px;
  left: -150px;
}

@media screen and (min-width: 992px) {
  #main-header-logo-container {
    margin-top: -70px;
  }

  #main-header-video-container {
    padding: 0 0 0 20px;
    margin-top: -150px;
  }
}

@media screen and (min-width: 1200px) {
  #main-header-logo-container {
    margin-top: -130px;
  }
}