.main-header {
  color: $themeColor-Light;
}

#main-header-logo-container {
  margin-top: -150px;
}

#main-header-video-container {
  padding: 0 0 0 20px;
  margin-top: -150px;
}

#main-header-logo-description {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 100px;
}